$white: #ffffff;
$light-blue: #38AEF0;
$black: #333333;

.chat-main{
  width: calc(100vw - 300px);
  float: left;
  &__group-info{
    background-color: $white;
    height: 100px;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    padding: 0 40px;
  }
  .chat--group{
    margin-top: 35px;
    &__name{
      margin-bottom: 15px;
      color: #333333;
      font-size: 20px;
    }
    &__member{
      color: #999999;
      font-size: 12px;
      display: flex;
    }
    &__edit-btn{
      border: solid 1px $light-blue;
      color: $light-blue;
      text-decoration: none;
      padding: 0 20px;
      line-height: 40px;
      height: 40px;
      position: absolute;
      right: 40px;
      top: 30px;
    }
  }
  .messages{
    background-color: #fafafa;
    box-sizing: border-box;
    height: calc(100vh - 190px);
    padding: 40px 46px 0px ;
    overflow: scroll;
  }
  .message{
    padding-bottom: 40px;
    .upper-message{
      display: flex;
      margin-bottom: 10px;
        &__user-name{
          font-weight: bold;
          color: $black;
          font-size: 16px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
    .lower-message{
      margin-top: 10px;
      &__content{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 10px;
        }
      } 
    }
  &__form{
    background-color: #d2d2d2;
    height: 90px;
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left: 10px;
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}


